In [51]:
import pandas as pd

df = pd.read_csv("test.csv", index_col=0)


df.head(9)

       B      C      A  -((A -> -A) ^ (-B <-> C))
0   True   True   True                       True
1   True  False   True                       True
2   True   True  False                       True
3  False   True   True                       True
4  False   True  False                      False
5   True  False  False                      False
6  False  False   True                       True
7  False  False  False                       True

In [27]:
column = df.iloc[:,0]
for dic in column.values:
    # for x in dic:
    # print(dic)
    print(dic.keys())
#convert data from list of dicts, to dict
# print(column)

AttributeError: 'str' object has no attribute 'keys'

In [42]:
test_df = pd.DataFrame({"a": [1,2,3], "b": [4,5,6]})
test_df.head()

   a  b
0  1  4
1  2  5
2  3  6